*.pyc
*.pyo
src/node.ext.python.egg-info
src/node/ext/python/testing/data/__init_.py
src/node/ext/python/testing/data/moved.py
src/node/ext/python/testing/data/rendered.py
src/node/ext/python/testing/data/unchanged.py
src/node/ext/python/testing/data/changed.py
